<mat-accordion class="app-accordion" [multi]="false">
  <mat-expansion-panel
    [ngStyle]="{ 'background-color': getBackgroundColor(song.page) }"
    [expanded]="isActive"
    (opened)="onClickHeader()"
    (closed)="stopAudio()"
  >
    <mat-expansion-panel-header
      [ngStyle]="{ 'background-color': getBackgroundColor(song.page) }"
    >
      <mat-panel-title>
        <div class="song-overview">
          <span class="page-number">{{ song.page }}</span>
          <span class="song-title">{{ song.title }}</span>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="song-details">
      <img [src]="song.text" alt="Song picture" />
      <img *ngIf="song.textExtra" [src]="song.textExtra" />
      <audio #audioPlayer controls>
        <source [src]="song.music" type="audio/mpeg" />
        Your browser does not support the audio element.
      </audio>
    </div>
  </mat-expansion-panel>
</mat-accordion>
