/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

:root {
  --neo-yellow: rgb(252, 228, 172);
  --neo-white: rgb(255, 255, 255);
  --neo-green: rgb(180, 211, 162);
  --neo-blue: rgb(157, 214, 245);
  --neo-gray: rgb(232, 232, 232);
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-accordion {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  gap: 10px;

  .mat-expansion-panel {
    background-color: var(--neo-yellow);
    border: 1px solid #6e6e6e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
}

.song-overview {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.song-details {
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.song-overview {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.page-number {
  font-weight: bold;
  color: #3e3e3a;
}

.song-title {
  flex-grow: 1;
  text-align: right;
  color: #3e3e3a;
}

.song-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  img {
    max-width: 100%;
    height: auto;
  }
}
